<html>
	<head>
		<title></title>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "touchTouch.jquery.js" %>
		<%= stylesheet_link_tag 'touchTouch.css' %>
		<%= stylesheet_link_tag 'index.css.scss' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div>
			<div id="side_navi"><%= render 'index/navi'  %></div>
			<div id="content"><%= yield %></div>
		</div>
	</body>
</html>
